.day_break{
  border-top: 2px solid #999;
}

.odd_day + .even_day td{
  @extend .day_break;
}
.even_day + .odd_day td{
  @extend .day_break;
}

.student{
  font-weight: bold;
}

.this_student td{
  background: #3C75FE;
  color: #fff;
  font-weight: bold;
}